<center><h1>Welcome abdelhay's rails labs</h1></center>

<%= button_to "New Article", new_article_path , :method=> :get, class: 'btn btn-primary float-left' %>
<%= button_to "All Articles", articles_path , :method=> :get, class: 'btn btn-info float-right' %>